.bgAbout {
  background-image: url('../../assets/bgAbout.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-img {
  background: url('../../assets/intro1-ipad@2x\ 1\ 1.png');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 32%;
  position: relative;
  margin-bottom: 80px;
}
.bg-img::after {
  z-index: -2;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 680px;
  background: linear-gradient(225deg, rgba(255, 255, 255, 0) 8.1%, #ffffff 100%);
}
.bg-work {
  background: linear-gradient(180deg, #fff1ce 0%, #ffffff 100%);
  padding: 80px 0;
}
.__rcs-handle-button {
  width: 0px !important;
  height: 0px !important;
}
.__rcs-handle-arrow {
  position: relative !important;
}
.__rcs-handle-arrow:nth-child(1)::after {
  content: '';
  position: absolute;
  right: -11px;
  bottom: 0;
  top: -11px;
  width: 0;
  height: 0;
  border-right: 13px solid #fea80a;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  z-index: -1;
  border-radius: 15px;
}
.__rcs-handle-arrow:nth-child(2)::before {
  content: '';
  position: absolute;
  right: -11px;
  bottom: 0;
  top: -11px;
  width: 0;
  height: 0;
  border-right: 13px solid #fea80a;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  z-index: -1 !important;
  border-radius: 15px;
}
